{% extends "base.html" %}
{% block title %}CS 253 Wiki | Edit {{ title }}{% endblock %}
{% block content %}

<div class="pull-right">
  {% if not user %}
  <a href="/wiki/login">login</a> | <a href="/wiki/signup">signup</a>
  {% else %}
    {{user.username}} (<a href="/wiki/logout">logout</a>)
  {% endif %}
</div>
<br />
<div id="content">
  <h2>Edit {{ title }}</h2>
  <form method="post">
    <label>
      <div>content</div>
      <textarea name="content">{{content}}</textarea>
    </label>
    <div class="error">{{error}}</div>
    <input type="submit" />
  </form>
</div>
{% endblock %}
