{% extends "base.html" %}
{% block title %}Login - Udacity CS253 - Simon Griffee{% endblock %}
{% block breadcrumbs %} / login{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="post">
  <table>
    <tr>
      <td>Username</td>
      <td>
        <input type="text" name="username" value="{{ username }}">
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input type="password" name="password" value="">
      </td>
    </tr>
  </table>
  <p class="error">{{ error }}</p>
  <input type="submit">
</form>
{# <a href="/{{ request_path }}/register">Register</a> #}
<a href="/register">Register</a>
{% endblock %}
