{% extends "base.html" %}
{% block title %}Day Z Log{% endblock %}

{% block breadcrumbs %} / <a href="/user/{{ user.username }}">{{ user.username|capitalize }}</a> / new story{% endblock %}

{% block content %}
<h1>
  <a href="/" class="main-title">
      {{ user.username|capitalize }}&rsquo;s <span class="normal">Day Z Log</span>
  </a>
</h1>
<div id="content">
    <h2>Add a new story</h2>
  <form method="post">
    <label for="subject">
        Title
      <input type="text" name="subject" value="{{subject}}">
    </label>
    <label for="content">
        Story
      <textarea name="content">{{ content }}</textarea>
    </label>
    <div class="error">{{ error }}</div>
    <input type="submit" />
  </form>
</div>
{% endblock %}
