{% extends "base.html" %}
{% block title %}CS 253 Blog{% endblock %}
{% block content %}
<h1>
  <a href="/blog" class="main-title">
    CS 253 Blog
  </a>
</h1>
<div id="content">
  <h2>new post</h2>
  <form method="post">
    <label>
      <div>subject</div>
      <input type="text" name="subject" value="{{subject}}">
    </label>
    <label>
      <div>blog</div>
      <textarea name="content">{{content}}</textarea>
    </label>
    <div class="error">{{error}}</div>
    <input type="submit" />
  </form>
</div>
{% endblock %}
