{% extends "base.html" %}
{% block title %}
{{ post.subject }} - 
{% if not user %}
  Day Z Log
  {% else %}
  {{ user.username }} - Day Z Log
  {% endif %}
{% endblock %}

{% block breadcrumbs %} / <a href="/user/{{ user.username }}">{{ user.username|capitalize }}</a> / {{ post.subject }}{% endblock %}

{% block content %}
<div id="content">

<h1>
  <a href="/" class="main-title">
      {% if not user %}
            {{ post.subject }} - Day Z Log
            {% else %}
          {{ post.subject }} - <span class="normal">{{ user.username|capitalize }}&rsquo;s Day Z Log</span>
      {% endif %}
  </a>
</h1>

      {{ post.created.strftime("%c") }} by {{ user.username }}
      {{ post.content }}
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
  <small>
    Queried {{ cache_timer }} ago
  </small>
</footer>
{% endblock %}