{% extends "base.html" %}
{% block title %}
{{ post.subject }} - 
{% if not user %}
  Udacity CS253 - Simon Griffee
  {% else %}
  {{ user.username }} - Udacity CS253 - Simon Griffee
  {% endif %}
{% endblock %}

{% block breadcrumbs %} / <a href="/u/{{ user.username }}">{{ user.username|capitalize }}</a> / {{ post.subject }}{% endblock %}

{% block content %}
<div id="content">

    <div class="post">
      <div class="post-heading">
        <h1 class="post-title">
          <a href="/u/{{user.username}}/{{post.key().id()}}">{{ post.subject }}</a>
        </h1>
        <div class="post-date">
          {{ post.created.strftime("%c") }} by {{ user.username }}
        </div>
      </div>
      <div class="post-content">
        {{ post.content }}
      </div>
    </div>

{% endblock %}

{% block footer %}
<footer class="footer">
  <small>
    Queried {{ cache_timer }} ago
  </small>
</footer>
{% endblock %}