{% extends "base.html" %}
{% block title %}
{% if not user %}
  Day Z Log
  {% else %}
  {{ user.username }} - Day Z Log
  {% endif %}
{% endblock %}

{% block breadcrumbs %} / <a href="/user/{{ user.username }}">{{ user.username|capitalize }}</a>{% endblock %}


{% block content %}

{# <div class="pull-right"> #}
{#   {% if not user %} #}
{#   <a href="/login">login</a> | <a href="/register">register</a> #}
{#   {% else %} #}
{#   {{ user.username }} | <a href="/newpost">new post</a> | <a href="/logout">logout</a> #}
{#   {% endif %} #}
{# </div> #}
<h1>
  <a href="/" class="main-title">
  {% if not user %}
        Day Z Log
        {% else %}
      {{ user.username|capitalize }}&rsquo;s <span class="normal">Day Z Log</span>
  {% endif %}
  </a>
</h1>
<div id="content">

  {% for post in posts %}
  <div class="post">
    <div class="post-heading">
      <h2 class="post-title">
        <a href="/user/{{user.username}}/{{post.key().id()}}">{{post.subject}}</a>
      </h2>
      <div class="post-date">
        {{ post.created.strftime("%c") }} by {{ user.username }}
      </div>
    </div>
    <div class="post-content">
      {{ post.content }}
    </div>
  </div>
  <br /><br />
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
  <small>
    Queried {{ cache_timer }} ago.
  </small>
</footer>
{% endblock %}